@page
@model FurnitureApp.Pages.Admin.OrderUsers.DetailsModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Details";
    ViewData["CurrentTab"] = "orders";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippingPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
