@page
@model FurnitureApp.Pages.Admin.Products.IndexModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Index";
    ViewData["CurrentTab"] = "product";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="real-time-products">
    </tbody>
</table>
