@model _HeaderModel.HeaderModel

@{
	var headerJson = ViewData["Header"] as _HeaderModel.HeaderModel;
}

<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="index">Furni<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item @(Model.CurrentTab == "home" ? "active":"")">
					<a class="nav-link" asp-page="/Index">Home</a>
				</li>
				<li class="nav-item @(Model.CurrentTab == "shop" ? "active":"")">
					<a class="nav-link" asp-page="/Shop/Index" asp-route-headerJson="@headerJson">Shop</a>
				</li>
				<li class="nav-item @(Model.CurrentTab == "about-us" ? "active":"")">
					<a class="nav-link" href="/About">About us</a>
				</li>
				<li class="nav-item @(Model.CurrentTab == "service" ? "active":"")">
					<a class="nav-link" href="/Services">Services</a>
				</li>
				<li class="nav-item @(Model.CurrentTab == "blog" ? "active":"")">
					<a class="nav-link" href="/Blog">Blog</a>
				</li>
				<li class="nav-item @(Model.CurrentTab == "contact" ? "active":"")">
					<a class="nav-link" href="/Contact">Contact us</a>
				</li>
			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li class="@(Model.CurrentTab == "cart" ? "border border-4 border-warning rounded-circle":"")"><a class="nav-link" asp-page="/Cart" asp-route-headerJson="@headerJson"><img src="~/images/cart.svg"></a></li>
				@if (String.IsNullOrEmpty(Model.UserName))
				{
					<li><a class="nav-link" href="Login"><img src="~/images/user.svg"></a></li>
				}
				else
				{
					<li>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								@Model.UserName.Substring(0, Math.Min(Model.UserName.Length, 7))
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#"><i class="fa-solid fa-bag-shopping"></i> View Orders</a></li>
								<li><a class="dropdown-item" href="#"><i class="fa-solid fa-address-card"></i> View Profile</a></li>
								<li><a class="dropdown-item" asp-page="/Logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
							</ul>
						</div>
					</li>
				}
		</div>
	</div>

</nav>
<!-- End Header/Navigation -->

