@page
@model ProductDetailModel

@{
    ViewData["Title"] = "Product Detail";
    ViewData["CurrentTab"] = "shop";
    var headerJson = JsonConvert.SerializeObject(ViewData["Header"] as _HeaderModel.HeaderModel);
}

<div class="container mt-5">
    <div class="row mb-3">
        @if (Model.Product is not null)
        {
            <!-- Product Image -->
            <div class="col-md-6">
                <img src="~/images/@Model.Product.ProductImage" class="d-block w-100">
            </div>
            <!-- Product Details -->

            <div class="col-md-6">
                <h1 class="display-4">@Model.Product.ProductName</h1>
                <h2>$@Model.Product.ProductPrice</h2>
                <div class="mt-4">
                    <p><strong>Description:</strong> @Model.Product.ProductDescription</p>
                    <p><strong>Quantity in Stock:</strong> @Model.Product.Quantity</p>
                    <form method="post">
                        <button asp-page-handler="AddToCart" asp-route-productJson="@(JsonConvert.SerializeObject(Model.Product))" asp-route-headerJson="@headerJson" class="btn btn-primary btn-lg">Add to Cart</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                No Product Information
            </div>
        }
    </div>
</div>
